<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="span3 bs-docs-sidebar">
  <ul class="nav nav-list bs-docs-sidenav affix">
    <li class>
      <a href="#">
        <i class="icon-chevron-right"></i>
         Dropdowns
      </a>
    </li>
    
    <li>
    <a href="#">
      <i class="icon-chevron-right"></i>
      News Feed
    </a> 
    </li>
    <li>
    <a href="#">
      <i class="icon-chevron-right"></i>
      Messages
    </a> 
    </li>
    <li>
    <a href="#">
      <i class="icon-chevron-right"></i>
      Events
    </a> 
    </li>
    <a href="#">
      <i class="icon-chevron-right"></i>
      Photos
    </a> 
    </li>
  </ul>
</div>

  <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
          <div class="container">
              <a href="#" class="brand">Treebook</a>
              <ul class="nav">
                  <li class="divider-vertical"><%= link_to "All Statuses", feed_path%></li>
              </ul>
              <ul class="nav pull-right">
                <% if user_signed_in? %>
                    <li><%= link_to current_user.full_name, profile_page_path(current_user.profile_name) %></li>
                    <li><%= link_to "Edit Profile Settings", edit_user_registration_path %></li>
                    <li><%= link_to "Log Out", logout_path %></li>   
                <% else %>
                    <li><%= link_to "Register", register_path %></li>
                    <li><%= link_to "Login", login_path %></li>
                <% end %>
              </ul>
          </div>            
      </div>
  </div>
  <div class="container">
      <% flash.each do |type, message| %>
        <div class="alert <%= flash_class(type.to_s) %>" role="alert">
          <button class="close" data-dismiss="alert">x</button>
          <%= message %>
        </div>
      <%end%>
      <%= yield %>
  </div>
</body>
</html>
